

<div ng-if="user.usuario == 'admin'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="menu.inicio">INICIO</a></li>
    <li><a >SOBRE NOSOTROS</a></li>
    <li><a href="#">SUCURSALES</a>    </li>
    <li><a >CONTACTENOS</a></li>
   <li><a ui-sref="menu.ABM">ALTAS</a></li>
     <li><a ui-sref="Deslogueo()">DESLOGUEARSE</a></li>


  </ul>
</nav>
</div>



<div ng-if="user.usuario == ''"> 
 <link rel="stylesheet" href="css/style_inicio.css">
    <link rel="stylesheet" href="css/style.css">
<h1>BIENVENIDOS A Pizzerías Argenta SRL</h1>
</div>

<div ng-if="user.usuario == 'admin'"> 
 <link rel="stylesheet" href="css/style_inicio.css">
    <link rel="stylesheet" href="css/style.css">
<h1>BIENVENIDO {{user.usuario}}</h1>
</div>
