
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_inicio.css">
    <link rel="stylesheet" href="css/style.css">

  
<div ng-if="user.rol == 'ADMINISTRADOR'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a >SOBRE NOSOTROS</a></li>
    <li><a href="#">SUCURSALES</a>    </li>
    <li><a >CONTACTENOS</a></li>
    <li><a ui-sref="menu.ABM">ALTAS USUARIOS</a></li>
    <li><a ui-sref="menu.AltaLocal">ALTA LOCAL</a></li>
    <li><a ui-sref="Deslogueo()">DESLOGUEARSE</a></li>
    <li><a ui-sref="menu.Grillas">GRILLAS USUARIOS</a></li>
     <li><a ui-sref="menu.GrillaLocal" >GRILLA LOCALES</a></li>
</ul>
</nav>
     <h1>HOLA {{user.usuario}}</h1>

</div>

<div ng-if="user.rol == 'CLIENTE'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.GrillaLocal">LOCALES</a></li>
    <li><a href="#">OFERTAS</a>    </li>
    <li><a >RESERVAS</a></li>
           <li><a ui-sref="Deslogueo()">DESLOGUEO</a></li>
       <h1>HOLA {{user.usuario}}</h1>
</div>

<div ng-if="user == null"> 
<nav class="dropdownmenu">
 <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a href="#">SUCURSALES</a>    </li>
    <li><a ui-sref="menu.login">ZONA LOGIN</a></li>
    <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">CONTACTENOS</a></li>
  </ul>
  </nav>
<h1>BIENVENIDOS A Pizzerías Argenta SRL</h1>

</div>

